/** 按钮 */
body {
   background:url("../images/luoji_sy.jpg");  no-repeat center center;
   background-size:cover;
   background-attachment:fixed;
   background-color:#CCCCCC;
 }

 .toubu {
  color: blue;
 }

 .button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align:middle;
  opacity: 0.6;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



/** 顶部底部固定 */
.footer {
  height: 20px;
  text-align: center;
  font-size: 12px;
  color: #666;  
}

.abs-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
